$font-color: #000000;
$background-color: #F2F2F2;
$border-color: #979797;
$lowest-color: #0091FF;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.table {
  width: 66vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $font-color;
  font-weight: bold;
  font-size: 20px;
  background: $background-color;
}

.item {
  padding: 20px;
  border: $border-color 2px solid;
}

.lowest-rate{
  background: $lowest-color;
}

.error {
  color: red;
  font-size: 50px;
}

.loading {
  font-size: 50px;
}